:root {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --background-gradient: linear-gradient(var(--soft-violet), var(--soft-blue));

    --white: hsl(0, 0%, 100%);

    --light-grayish: hsl(240, 5%, 91%);

    --soft-red: hsl(14, 88%, 65%);
}

body {
    height: 100vh;
    background: var(--background-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
}

.card-container {
    background-color: var(--white);
    border-radius: 16px;
    width: 320px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.img-container {
    position: relative;
}

.img-principal-mobile {
    width: 240px;
    height: 240px;
    position: absolute;
    top: -140px;
    left: 35px;
}

.img-shadow-mobile {
    position: relative;
    left: 35px;
}

.img-principal-desktop, .img-box-desktop, .img-shadow-desktop {
    display: none;
}

.tittle-principal {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 24px 32px 24px
}

.accordion-container {
    border-bottom: 0.5px solid var(--light-grayish);
}

.accordion {
    background: var(--white);
    border: none;
    width: 100%;
    cursor: pointer;
    padding: 8px 0 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion:hover {
    color: var(--soft-red);
}

.accordion::after {
    content: url(./images/icon-arrow-down.svg);
}

.active {
    font-weight: 700;
}

.active::after {
    content: url(./images/icon-arrow-down.svg);
    transform: rotate(180deg);
}

.panel {
    display: none;
    overflow: hidden;
    padding-bottom: 12px;
}

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {
    .card-container {
        width: 750px;
        display: flex;
    }

    .img-container {
        overflow: hidden;
    }

    .img-principal-mobile, .img-shadow-mobile {
        display: none;
    }

    .img-principal-desktop {
        display: block;
        position: absolute;
        left: -100px;
    }

    .img-shadow-desktop {
        width: 470px;
        height: 470px;
        display: block;
        position: relative;
        left: -100px;
    }
}